@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=PT+Serif:wght@400;700&family=Yeseva+One&display=swap');

:root {
  --background-color: #181818;
  --title-text-color: #FFFFFF;
  --second-text-color: #272727;
  --accent-color: #FFC700;
}


body {
  border: 0;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  border: none;
  border-radius: 20px;
  font-weight: 700;
  width: 189px;
  height: 41px;
  margin: 0 auto;
  display: block;
  background: radial-gradient(50% 50% at 50% 50%, #FFC700 0%, #FFC700 100%);
}

.img_menu {
  position: absolute;
  margin-top: 17px;
  margin-right: auto;
  margin-bottom: 13px;
  margin-left: 15px;
}

.img_brain {
  position: absolute;
  margin-left: 48px;
}

.container {
  background-color: var(--background-color);
  height: auto;
  width: 320px;
}

.header {
  /* display: flex; */
  padding-top: 0;
  width: auto;
  height: 46px;
}

/* .header_nav {
  display: none;
} */

.header_text {
  font-family: 'Yeseva One';
  font-weight: 400;
  font-style: normal;
  line-height: 14px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: var(--accent-color);

  display: flex;
  justify-content: flex-end;
  padding-top: 18px;
  padding-right: 20px;
  padding-bottom: 11px;
  
}

.main_section {
  background-image: url(./image/rain_bk.jpg);
  background-repeat: no-repeat;
  width: auto;
  height: 522px;

}

.title_text{
  padding-top: 27px;
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--title-text-color);
}

.title_text_p {
  font-family: 'Yeseva One';
  padding-top: 10px;
  padding-left: 34px;
  padding-right: 34px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn_main_section {
  margin-top: 150px;
  background-color: var(--accent-color);
}

.paragraph {
  margin-top: 22px;
  margin-right: 17px;
  margin-left: 17px;
  margin-bottom: 11px;

  font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--title-text-color);
}

.paragraph_color_accent {
  color: var(--accent-color);
}

.arrow_up {
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
}

.arrow_up_details {
  color: var(--title-text-color);
  font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 11px;
    text-align: center;
    letter-spacing: 0.05em;
}

.section_about {
  background-image: url(./image/image.jpg);
  background-repeat: no-repeat;
  width: auto;
  height: 339px;
  position: relative;
}

.about_text {
  font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: var(--title-text-color);
    text-align: center;
    letter-spacing: 0.05em;

    padding: 83px 36px 28px 36px;

}

.quotes_up {
  position: absolute;
  top: 43px;
  left: 24px;
 
} 

.quotes_down {
  position: absolute;
  right: 29px;
  bottom: 32px;
}

.section_text {
  background-color: var(--title-text-color);
  width: auto;
  padding: 38px 11px 38px 11px;
}

.section_text_desc {
  font-family: 'PT Serif', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: var(--second-text-color);
}

.section_text_desc_font_weight {
  font-weight: 700;
}

.pic_brain{
  padding: 38px 44px 0px 34px;
}

.section_context {
  background-image: url(./image/rain_bk2.jpg);
  background-repeat: no-repeat;
  width: auto;
  height: 533px;
  position: relative;
}

.section_context_text {
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: var(--title-text-color);

  padding-top: 56px;
  padding-right: 51px;
  padding-left: 14px;
}

.section_content_text_color_accent {
  color: var(--accent-color);
}